<!DOCTYPE html>
<html>
  <head>
    <title>CSP検証ページ</title>
  </head>
  <body>
    <script nonce="<%= nonce %>">
      if (window.trustedTypes && trustedTypes.createPolicy) {
        // ポリシー関数を定義する
        const policy = trustedTypes.createPolicy("script-url", {
          // <script>要素のsrcに設定するURLをチェック
          createScriptURL: (str) => {
            // strのURL文字列からOriginを取得するためにURLオブジェクトにする
            const url = new URL(str, location.origin);
            if (url.origin !== location.origin) {
              // クロスオリジンの場合エラーにする
              throw new Error("クロスオリジンは許可されていません。");
            }
            // 同一オリジンの場合のみURLを返す
            return url;
          }
        });

        const script = document.createElement("script");
        // 作成したポリシー関数によって検査されて
        // TrustedScriptURLへ変換された値は代入可能になる
        script.src = policy.createScriptURL("./csp-test.js");
        document.body.appendChild(script);
      }
    </script>
  </body>
</html>
